.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
  object-fit: cover;
}

.button-login {
  text-decoration: none;
  margin-right: 20px;
  color: black;
}
